<footer class="footer ">
    <div class="container-fluid">
        <nav class="pull-left">
            <ul>
                <li>
                    <a href="https://www.keystone.tn/">
                        Keystone Group
                    </a>
                </li>
                <li>
                    <a href="https://www.keystone.tn/#Portfolio">
                        About Us
                    </a>
                </li>
                <li>
                    <a href="https://www.keystone.tn/#Industries">
                        Blog
                    </a>
                </li>
                <li>
                    <a href="https://www.keystone.tn/#contact">
                        contact
                    </a>
                </li>
            </ul>
        </nav>
        <div class="copyright pull-right">
            &copy; Projet fin d'étude
            {{test | date: 'yyyy'}}, made with love by ASSMA & BOUTHAINA !
        </div>
    </div>
</footer>
