<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-12">
              <div class="card">
                  <div class="card-header card-header-danger">
                      <h4 class="card-title ">gérer des clients</h4>
                   </div>
                  <div class="card-body">
                      <div class="table-responsive">
                          <table class="table">
                              <thead class=" text-primary">
                                  <th>
                                      Name
                                  </th>
                                  <th>
                                     surname 
                                  </th>
                                  <th>
                                      email
                                  </th>
                                  <th>
                                    adresse
                                  </th>
                                  <th>
                                      pays
                                  </th>
                                  <th>
                                     tel
                                  </th>
                              </thead>
                              <tbody>
                                  <tr *ngFor="let client of list">
                                    <td>
                                        {{client.name}}
                                    </td>
                                    <td>
                                        {{client.surname}}
                                    </td>
                                    <td>
                                        {{client.email}}
                                    </td>
                                    <td>
                                        {{client.adresse}}
                                    </td>
                                    <td>
                                        {{client.pays}}
                                    </td>
                                    <td class="text-primary">
                                        {{client.tel}}
                                    </td>
                                    <td class="td-actions text-right">
                                        <button mat-raised-button type="button" matTooltip="Edit Client" [matTooltipPosition]="'above'" class="btn btn-primary btn-link btn-sm btn-just-icon">
                                            <i class="material-icons">edit</i>
                                        </button>
                                        <button mat-raised-button type="button" matTooltip="Remove" [matTooltipPosition]="'above'" class="btn btn-danger btn-link btn-sm btn-just-icon">
                                            <i class="material-icons">close</i>
                                        </button>
                                    </td>
                                  </tr>
                              </tbody>
                          </table>
                      </div>
                  </div>
              </div>
          </div>

      </div>
  </div>
</div>
